<mat-form-field>
  <mat-label>Base currency</mat-label>
  <mat-select
    [(ngModel)]="selectedBaseCurrency"
    name="Base currency"
    (selectionChange)="getCurrenciesByBase()"
  >
    <mat-option *ngFor="let currency of currencies" [value]="currency.type">
      {{ currency.type }}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-table [dataSource]="currencies" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef>Currency</mat-header-cell>
    <mat-cell *matCellDef="let currency"> {{ currency.type }} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="value">
    <mat-header-cell *matHeaderCellDef>Spot</mat-header-cell>
    <mat-cell *matCellDef="let currency"> {{ currency.value }} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<button (click)="logCurrencies()">CLICK</button>
